services:
  app:
    build:
      context: .
      target: dev
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - 3000:3000
    volumes:
      - ./src:/app/src
      - /app/node_modules
    env_file:
      - .env.dev
    depends_on:
      - db
  db:
    image: postgres:17.4
    restart: always
    ports:
      - 5433:5432
    volumes:
      - ./data/index:/var/lib/postgresql/data
    env_file:
      - .env.dev
    environment:
      - DATABASE_URL=${DATABASE_URL}
